i {
    background:transparent;
    color: #18BCBB;
    font-size:1.5em;
}




button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #18BCBB;
    
    
}