<div class="main-form">
  <div class="form-group">
    <table id="costTable" class="table table-striped table-hover table-bordered">
      <tbody id={{i}} *ngFor="let applicationCost of applicationCosts; let i = index">
      <tr>
        <td>{{i+1}}</td>
        <td>
          <input type="text" [(ngModel)]="applicationCost.name" class="form-control" placeholder="Enter Name"
                 id="{{i}}name">
        </td>
        <td>
          <input type="text" [(ngModel)]="applicationCost.description" class="form-control"
                 placeholder="Enter Description" id="{{i}}description">
        </td>
      </tr>
      <tr class="costEntry" id={{i}}+{{j}} *ngFor="let costEntry of applicationCost.costEntries; let j = index">
        <td>
          <button type="button" class="btn btn-primary" (click)="addCostEntry(i)">Add Cost Entry</button>
        </td>
        <td>
          <input type="text" [(ngModel)]="costEntry.name" class="form-control" placeholder="Enter Name"
                 id="{{i}}{{j}}costName">
        </td>
        <td>
          <input type="number" [(ngModel)]="costEntry.amount" class="form-control" placeholder="Enter Amount"
                 id="{{i}}{{j}}amount">
        </td>
        <td>
          <input type="text" [(ngModel)]="costEntry.currency" class="form-control" placeholder="Enter Currency"
                 id="{{i}}{{j}}currency">
        </td>
        <td>
          <div *ngFor="let type of types()">
            <label>{{type}}</label>
            <input type="radio" id="{{i}}{{j}}type" [(ngModel)]="costEntry.type" class="form-control" [value]="type">
          </div>
        </td>
        <td>
          <select class="form-control" [(ngModel)]="costEntry.period" id="{{i}}{{j}}period" [disabled]="disablePeriod(ij)">
            <option *ngFor="let period of periods()" ng-value="period">{{period}}</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" (click)="addApplicationCost()" class="btn btn-primary">Add Application Cost</button>
  </div>
  <button type="submit" class="btn btn-primary" (click)="fbAddCost()">Save</button>
  <button type="reset" class="btn btn-primary" [routerLink]="['/application']">Cancel</button>
</div>
